.bg-cover {
    background-size: cover;
  }
nav {
    img:hover {
        cursor: pointer;
    }
}

.carousel {
    position:relative; 
    overflow:hidden;
    z-index: -1 ;    
    
    img {
        min-height:100px;
    }
} 


.p:hover {
   cursor: pointer;
  }


  
.menu {
    .column:hover {
        cursor: pointer;
    }
     p {
        font-size: 16px;
        margin-bottom: 40px;
        margin-top: 20px;
    }
    b {
        margin-bottom: 25px;
        font-size: 20px;
    }
    img {
        height:80px;
        margin-top:30px;
        margin-bottom: 30px;
    }
    span {
        color:salmon;
    }
}

.footer  {
    color:white;
    padding-top:50px;
    .menu {
        margin-left: 50px;
        span {
            margin-right: 15px;
            font-size: 25px;
        }

    }
    
    .follow { 
        span {
        font-size: 35px;
        margin-bottom: 10px;
        }
        .sosmed {
            margin-left: 28px;
            margin-top: 10px;
        }
        .sosmed:hover {
            cursor: pointer;
        }
    }
    
}

/*handphone*/
@media screen and (max-width: 600px) {
    .carousel {
        margin-top: 0px;
    }
    .info {
        p {
           margin-left: 15px;
           margin-right: 15px; 
        }
    }
    .contact {
        h1 {
            padding-top: 30px;
        }
        p {
            padding-bottom: 50px;
        }
    }
    
}

@media screen and (min-width: 600px) {
    
}  