.bg-cover {
  background-size: cover; }

nav img:hover {
  cursor: pointer; }

.carousel {
  position: relative;
  overflow: hidden;
  z-index: -1;
  margin-top: 0px; }
  .carousel img {
    height: 100%; }

.kue img {
  border:solid 6px;
  border-color:white;
  margin-top:-100px;
  margin-bottom:50px;
  z-index:0;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  margin-top: -100px;
  overflow: hidden;
  border-radius: 100px;
  transition: .9s ease;
  background-color: salmon;
}

.kue:hover .overlay {
  opacity: 0.8;
  cursor: pointer;
}

.text {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

}

.brownies {
  background-image: linear-gradient(to right,rgb(190, 144, 113), rgb(255, 204, 184));
}

.brownies .card {
  box-shadow:10px 9px 7px -2px rgba(69,37,31,0.48);
}
.brownies .card img:hover {
  cursor: pointer;
}

.pesan {
  position: relative;  
  border:none;
  overflow: hidden;
}
.pesan img {
  max-width: 100%;
  
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.7s;
}
.pesan:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.3);
}





.footer {
  color: white;
  padding-top: 50px;;
}
  .footer .menu {
    margin-left: 50px; }
    .footer .menu span {
      margin-right: 15px;
      font-size: 25px; }
  .footer .follow span {
    font-size: 35px;
    margin-bottom: 10px; }
  .footer .follow .sosmed {
    margin-left: 28px;
    margin-top: 10px; }
  .footer .follow .sosmed:hover {
    cursor: pointer; }

/*handphone*/
@media screen and (max-width: 600px) {
  .carousel {
    margin-top: 0px; }
  .info p {
    margin-left: 15px;
    margin-right: 15px; }
  .contact h1 {
    padding-top: 30px; }
  .contact p {
    padding-bottom: 50px; } }
